{% extends "base.html" %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: flex-start; gap: 20px; width: 100%;">

    <!-- Camera Feed -->
    <div class="card cameraContainer">
        <video id="cameraFeed" autoplay muted playsinline></video>
    </div>

    <div id="normalUI">
        <div class="card" style="min-width: 260px; flex-shrink: 0;">

            <label for="cameraDropdown" class="bigLabel" style="color:#39FF14;">Select Camera:</label>

            <div id="cameraControl" style="display:flex; align-items:center; gap:8px;">
                <select id="cameraDropdown">
                    {% for name in cameras %}
                        <option value="{{ loop.index0 }}" {% if name == selected_index %}selected{% endif %}>
                            {{ name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="divider"></div>

            <button id="startCalibrationBtn" style="
                background-color:#000;
                color:#39FF14;
                border:2px solid #39FF14;
                padding:10px 20px;
                font-size:16px;
                cursor:pointer;
            ">
                Start Calibration
            </button>
        </div>
    </div>

    
    <div id="calibUI" style="display: none; flex-direction: row; gap: 20px;">
        <div class="card" style="display:flex; justify-content:center; padding:15px;">
            <button id="endCalibrationBtn" style="
                background-color:#000;
                color:#39FF14;
                border:2px solid #39FF14;
                padding:10px 20px;
                font-size:16px;
                cursor:pointer;
            ">
                End Calibration
            </button>
        </div>

        <div class="card" style="display:flex; justify-content:center; padding:15px;" id="frameStatusCard">
            <div id="framesCaptured" style="
                color:#39FF14;
                font-size:20px;
                display:block;
            ">"Frames: .../250 (Min)
            </div>
        </div>

        <div class="card" style="display:none; justify-content:center; padding:15px;" id="statusCard">
            <div id="calibrationStatus" style="
                color:#39FF14;
                font-size:20px;
                display:block;
            ">
            </div>
        </div>
    </div>
</div>

<script>
const dropdown = document.getElementById("cameraDropdown");
const canvas = document.getElementById("cameraFeed");
const video = document.getElementById('cameraFeed');
const pc = new RTCPeerConnection({
    iceServers: [{ urls: 'stun:stun.l.google.com:19302' }]
});
const startCalibBtn = document.getElementById("startCalibrationBtn");
const endCalibBtn = document.getElementById("endCalibrationBtn");
const normalUI = document.getElementById("normalUI");
const calibUI = document.getElementById("calibUI");
const statusCard = document.getElementById("statusCard");
const calibrationStatus = document.getElementById("calibrationStatus");
const endCard = document.getElementById("endCard");
const framesCaptured = document.getElementById("framesCaptured");
const delay = (ms) => new Promise(resolve => setTimeout(resolve, ms));

pc.addTransceiver('video', { direction: 'recvonly' });
pc.ontrack = (event) => {
    video.srcObject = event.streams[0];
}

startCalibBtn.addEventListener("click", function() {
    normalUI.style.display = "none";
    calibUI.style.display = "flex";

    frame_poll = true;
    pollFrameCount();

    fetch('/set_camera_setting', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            index: dropdown.value,
            key: "is_calibrating",
            value: true
        })
    });
});

endCalibBtn.addEventListener("click", function() {
    calibrationStatus.textContent = "Please wait...";
    statusCard.style.display = "flex";

    frame_poll = false;
    polling = true;
    pollCalibrationStatus();

    fetch('/set_camera_setting', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            index: dropdown.value,
            key: "is_calibrating",
            value: false
        })
    });
});

async function pollFrameCount() {
    while (frame_poll) {
        const res = await fetch('/get_frame_count');
        const data = await res.json();
        if (data.frame_count) {
            framesCaptured.textContent = `Frames: ${data.frame_count}/250 (Min)`;
        }
        await delay(1000/60)
    }
}

async function pollCalibrationStatus() {
    while (polling) {
        const res = await fetch('/get_calibration_status');
        const data = await res.json();
        if (!data.done) {
            calibrationStatus.textContent = "Saving calibration...";
        } else if (data.done == true) {
            calibrationStatus.textContent = "Calibration saved!";
            polling = false;
            setTimeout(() => {
                statusCard.style.display = "none";
                normalUI.style.display = "block";
                calibUI.style.display = "none";
            }, 5000);
        } else {
            calibrationStatus.textContent = data.done;
            polling = false;
            setTimeout(() => {
                statusCard.style.display = "none";
                normalUI.style.display = "block";
                calibUI.style.display = "none";
            }, 5000);
        }
    }
}

async function startWebRTC() {
    const offer = await pc.createOffer();

    await pc.setLocalDescription(offer);

    const res = await fetch("/offer", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(pc.localDescription)
    });

    const answer = await res.json();
    await pc.setRemoteDescription(answer);
}
startWebRTC();

dropdown.addEventListener('change', () => {
    const index = dropdown.value;
    const name = dropdown.options[dropdown.selectedIndex].text;
    const formData = new FormData();
    formData.append('camera', name);
    fetch(`/set_camera`, {
        method: 'POST',
        body: formData
    });
});

document.addEventListener("DOMContentLoaded", () => {
    const index = dropdown.value;
    const name = dropdown.options[dropdown.selectedIndex].text;
    const formData = new FormData();
    formData.append('camera', name);
    fetch(`/set_camera`, {
        method: 'POST',
        body: formData
    });
});

</script>
{% endblock %}