{% extends "base.html" %}

{% block head %}
    <script src="/static/cviz-component.js?v=2" defer></script>
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: flex-start; gap: 20px; width: 100%;">

    <div class="row">
        <!-- Camera Feed -->
        <div class="card cameraContainer">
            <div class="camRow">
                <span>Show Process Frames</span>
                <label class="switch">
                    <input type="checkbox" id="toggle_pf">
                    <span class="slider"></span>
                </label>
            </div>

            <video id="cameraFeed" autoplay playsinline></video>
        </div>

        <!-- Camera Controls -->
        <div class="card" style="min-width: 260px; flex-shrink: 0;">

            <label for="cameraDropdown" class="bigLabel" style="color:#39FF14;">Select Camera:</label>

            <div id="cameraControl" style="display:flex; align-items:center; gap:8px;">
                <select id="cameraDropdown">
                    {% for name in cameras %}
                        <option value="{{ loop.index0 }}" {% if name == selected_index %}selected{% endif %}>
                            {{ name }}
                        </option>
                    {% endfor %}
                </select>

                <span id="editIcon" style="cursor:pointer; font-size: 20px; color:#39FF14;">✏️</span>
            </div>

            <!-- Rename -->
            <div id="renameDiv" style="display:none; gap:5px; align-items:center;">
                <input id="newName" type="text"
                    style="background-color:#000; color:#39FF14; border:2px solid #39FF14; padding:6px; flex:1;">
                <span id="saveIcon" style="cursor:pointer; font-size:20px; color:#39FF14;">💾</span>
            </div>

            <!-- Divider -->
            <div class="divider"></div>

            <!-- Toggles -->
            <div class="toggleRow">
                <span>Apriltags Enable</span>
                <label class="switch">
                    <input type="checkbox" id="toggle_apriltags">
                    <span class="slider"></span>
                </label>
            </div>

            <div class="toggleRow">
                <span>Object Detection Enable</span>
                <label class="switch">
                    <input type="checkbox" id="toggle_objdetect">
                    <span class="slider"></span>
                </label>
            </div>

            <div class="toggleRow">
                <span>Driver Camera Enable</span>
                <label class="switch">
                    <input type="checkbox" id="toggle_driverCam">
                    <span class="slider"></span>
                </label>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="card" style="flex:1;">
            <!-- Auto White Balance -->
            <div class="toggleRow">
                <span>Auto White Balance</span>
                <label class="switch">
                    <input type="checkbox" id="toggle_awb">
                    <span class="slider"></span>
                </label>
            </div>

            <div class="sliderRow" id="wbRow">
                <span>White Balance</span>
                <input type="number" id="wbValue">
            </div>

            <!-- Auto Exposure -->
            <div class="toggleRow">
                <span>Auto Exposure</span>
                <label class="switch">
                    <input type="checkbox" id="toggle_ae">
                    <span class="slider"></span>
                </label>
            </div>

            <!-- Exposure -->
            <div class="sliderRow" id="exposureRow">
                <span>Exposure</span>
                <input type="number" id="exposureValue">
            </div>

            <!-- Gain -->
            <div class="sliderRow">
                <span>Gain</span>
                <input type="number" id="gainValue">
            </div>

            <div class="divider"></div>

            <div id="resolutionControl" style="display:flex; justify-content: space-between; gap:20px; width: 100%;">
                <span>Resolution</span>
                <select id="resolutionDropdown" style="font-size: 14px;">
                    <option value="426x240">240p</option>
                    <option value="640x360">360p</option>
                    <option value="854x480">480p</option>
                    <option value="1280x720">720p</option>
                    <option value="1920x1080">1080p</option>
                    <option value="2560x1440">1440p</option>
                    <option value="3840x2160">4K</option>
                </select>
            </div>
        </div>

        <div class="card" style="flex:1;" id="apriltagData">
            <span style="font-size: 18px ; color:#39FF14; text-align: center;">
                Apriltag Output
            </span>

            <div class="divider"></div>

            <div class="outputRow" style="flex-direction: column; gap: 5px;">
                <span>FPS: <span id="apriltagFPS">0</span></span>
                <span>Tag IDs: <span id="apriltagIDs">None</span></span>
                <span>Localization Method: <span id="apriltagMethod">None</span></span>
                <span>Pose Estimation: <span id="apriltagPose">None</span></span>
            </div>
        </div>

        <div class="card" style="flex:1;" id="objectDetectionData">
            <span style="font-size: 18px ; color:#39FF14; text-align: center;">
                Object Detection Output
            </span>

            <div class="divider"></div>

            <div class="outputRow" style="flex-direction: column; gap: 5px;">
                <span>FPS: <span id="objectDetectionFPS">0</span></span>
                <span>Objects Detected: <span id="objectDetectionObjects">0</span></span>
            </div>
        </div>
    </div>

    <div class="row" style="width: 100%;">
        <cam-viz></cam-viz>
        <!-- <div class="card" style="flex:1;">
            <cam-viz></cam-viz>
        </div> -->
    </div>
</div>

<script>
const dropdown = document.getElementById('cameraDropdown');
const video = document.getElementById('cameraFeed');
const pc = new RTCPeerConnection({
    iceServers: [{ urls: 'stun:stun.l.google.com:19302' }]
});

pc.addTransceiver('video', { direction: 'recvonly' });
pc.ontrack = (event) => {
    video.srcObject = event.streams[0];
}

async function startWebRTC() {
    const offer = await pc.createOffer();

    await pc.setLocalDescription(offer);

    const res = await fetch("/offer", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(pc.localDescription)
    });

    const answer = await res.json();
    await pc.setRemoteDescription(answer);
}
startWebRTC();

dropdown.addEventListener('change', () => {
    const index = dropdown.value;
    const name = dropdown.options[dropdown.selectedIndex].text;
    const formData = new FormData();
    formData.append('camera', name);
    fetch(`/set_camera`, {
        method: 'POST',
        body: formData
    });
    loadSettings(index);
});

const editIcon = document.getElementById('editIcon');
const renameDiv = document.getElementById('renameDiv');
const newNameInput = document.getElementById('newName');
const saveIcon = document.getElementById('saveIcon');
const cameraControl = document.getElementById('cameraControl');
const toggles = {
    process_frames_enable: document.getElementById('toggle_pf'),
    apriltags_enable: document.getElementById('toggle_apriltags'),
    objdetect_enable: document.getElementById('toggle_objdetect'),
    driverCam_enable: document.getElementById('toggle_driverCam'),
    camera_auto_white_balance: document.getElementById('toggle_awb'),
    camera_auto_exposure: document.getElementById('toggle_ae')
};
const exposureValue = document.getElementById("exposureValue");
const gainValue = document.getElementById("gainValue");
const wbValue = document.getElementById("wbValue");
const resolutionDropdown = document.getElementById("resolutionDropdown");
const apriltagData = document.getElementById("apriltagData");
const tagFPS = document.getElementById("apriltagFPS");
const tagIDs = document.getElementById("apriltagIDs");
const tagMethod = document.getElementById("apriltagMethod");
const tagPose = document.getElementById("apriltagPose");
const objectDetectionData = document.getElementById("objectDetectionData");
const objectDetectionFPS = document.getElementById("objectDetectionFPS");
const objectDetectionLen = document.getElementById("objectDetectionObjects");

let tag_ws = null;
let obj_ws = null;

let lastTagState = false;
let lastObjState = false;

let latestTagData = {};
let latestObjData = {};

editIcon.addEventListener('click', () => {
    cameraControl.style.display = 'none';
    renameDiv.style.display = 'flex';
    newNameInput.value = dropdown.options[dropdown.selectedIndex].text;
    newNameInput.focus();
});

function saveCameraName() {
    const index = dropdown.value;
    const newName = newNameInput.value.trim();
    if(newName){
        // Update dropdown text
        dropdown.options[dropdown.selectedIndex].text = newName;
        // Hide input, show dropdown + pencil
        renameDiv.style.display = 'none';
        cameraControl.style.display = 'flex';

        // Send to backend
        fetch('/rename_camera', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({index: index, name: newName})
        });
    }
}

// Click save icon
saveIcon.addEventListener('click', saveCameraName);

// Press Enter in input
newNameInput.addEventListener('keypress', (e) => {
    if(e.key === 'Enter'){
        saveCameraName();
    }
});

// Load settings for selected camera
async function loadSettings(index) {
    if (index == '') {
        index = -1;
        console.log("No camera selected");
        return;
    }
    const res = await fetch(`/get_camera_settings?index=${index}`);
    const data = await res.json();
    toggles.process_frames_enable.checked = data.process_frames_enable;
    toggles.apriltags_enable.checked = data.apriltags_enable;
    setTagState(toggles.apriltags_enable.checked);
    toggles.objdetect_enable.checked = data.objdetect_enable;
    setObjState(toggles.objdetect_enable.checked);
    toggles.driverCam_enable.checked = data.driverCam_enable;
    toggles.camera_auto_white_balance.checked = data.camera_auto_white_balance;
    toggles.camera_auto_exposure.checked = data.camera_auto_exposure;
    exposureValue.value = data.camera_exposure;
    gainValue.value = data.camera_gain;
    wbValue.value = data.camera_white_balance;
    resolutionDropdown.value = data.camera_resolution_width + 'x' + data.camera_resolution_height;
}

function setTagState(state) {
    if (state && !lastTagState) {
        tagConnect();
        apriltagData.style.display = "flex";
    } else {
        apriltagData.style.display = "none";
        if (tag_ws) {
            tag_ws.close();
        }
    }
    lastTagState = state;
}

function setObjState(state) {
    if (state && !lastObjState) {
        objConnect();
        objectDetectionData.style.display = "flex";
    } else {
        objectDetectionData.style.display = "none";
        if (obj_ws) {
            obj_ws.close();
        }
    }
    lastObjState = state;
}

function tagConnect() {
    tag_ws = new WebSocket(`ws://${location.host}/ws/apriltag_data`);

    tag_ws.onmessage = (event) => {
        latestTagData = JSON.parse(event.data);
    };
}

function tagRender() {
    if (latestTagData.fps !== undefined) {
        const { fps, pose_observation } = latestTagData;
        const { tag_ids, pose_0, pose_1 } = pose_observation ?? {};

        tagFPS.textContent = fps ? fps : "No FPS Data";

        if (pose_observation) {
            tagIDs.textContent = tag_ids.length > 0 ? tag_ids.join(", ") : "No Tags Detected";

            if (pose_1) {
                tagMethod.textContent = "Single Tag Pose Estimation";
                tagPose.textContent = `x0: ${pose_0.x}, y0: ${pose_0.y}, z0: ${pose_0.z},
                    x1: ${pose_1.x}, y1: ${pose_1.y}, z1: ${pose_1.z}`;
            } else {
                tagMethod.textContent = "Multi Tag Pose Estimation";
                tagPose.textContent = `x: ${pose_0.x}, y: ${pose_0.y}, z: ${pose_0.z}`;
            }
        } else {
            tagIDs.textContent = "No Tags Detected";
            tagMethod.textContent = "No Data";
            tagPose.textContent = "No Pose Estimation";
        }
    } else {
        tagFPS.textContent = "No FPS Data";
        tagIDs.textContent = "No Tags Detected";
        tagMethod.textContent = "No Data";
        tagPose.textContent = "No Pose Estimation";
    }
    requestAnimationFrame(tagRender);
}
requestAnimationFrame(tagRender);

function objConnect() {
    obj_ws = new WebSocket(`ws://${location.host}/ws/obj_data`);

    obj_ws.onmessage = (event) => {
        latestObjData = JSON.parse(event.data);
    }
}

function objRender() {
    if (latestObjData.fps !== undefined) {
        const {fps, observation_num} = latestObjData;

        objectDetectionFPS.textContent = fps ? fps : "No FPS Data";
        objectDetectionLen.textContent = observation_num > 0 ? observation_num : "No Objects Detected";
    } else {
        objectDetectionFPS.textContent = "No FPS Data";
        objectDetectionLen.textContent = "No Objects Detected";
    }
    requestAnimationFrame(objRender);
}
requestAnimationFrame(objRender);

// Send update when toggle changes
Object.keys(toggles).forEach(key => {
    toggles[key].addEventListener('change', () => {
        const index = dropdown.value;

        fetch('/set_camera_setting', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                index: index,
                key: key,
                value: toggles[key].checked
            })
        });
    });
});

toggles.apriltags_enable.addEventListener("change", () => {
    setTagState(toggles.apriltags_enable.checked)
})

toggles.objdetect_enable.addEventListener("change", () => {
    setObjState(toggles.objdetect_enable.checked)
})

exposureValue.addEventListener("change", () => {
    fetch('/set_camera_setting', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            index: dropdown.value,
            key: "camera_exposure",
            value: Number(exposureValue.value)
        })
    });
});

gainValue.addEventListener("change", () => {
    fetch('/set_camera_setting', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            index: dropdown.value,
            key: "camera_gain",
            value: Number(gainValue.value)
        })
    });
});

wbValue.addEventListener("change", () => {
    fetch('/set_camera_setting', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            index: dropdown.value,
            key: "camera_white_balance",
            value: Number(wbValue.value)
        })
    });
});

toggles.camera_auto_white_balance.addEventListener("change", () => {
    if (toggles.camera_auto_white_balance.checked) {
        document.getElementById("wbRow").classList.add("greyed-out");
    } else {
        document.getElementById("wbRow").classList.remove("greyed-out");
    }
});

toggles.camera_auto_exposure.addEventListener("change", () => {
    if (toggles.camera_auto_exposure.checked) {
        document.getElementById("exposureRow").classList.add("greyed-out");
        document.getElementById("brightnessRow").classList.add("greyed-out");
    } else {
        document.getElementById("exposureRow").classList.remove("greyed-out");
        document.getElementById("brightnessRow").classList.remove("greyed-out");
    }
});

resolutionDropdown.addEventListener("change", () => {
    fetch('/set_camera_resolution', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            index: dropdown.value,
            value: resolutionDropdown.value
        })
    });
});

document.addEventListener("DOMContentLoaded", () => {
    const index = dropdown.value;
    const name = dropdown.options[dropdown.selectedIndex].text;
    loadSettings(index);
});

document.querySelectorAll('input[type="number"]').forEach(input => {
    input.addEventListener('wheel', e => e.preventDefault());
})

</script>
{% endblock %}